.chips-widgets-container {
  display: flex;
  padding: 20px 25px;
  background-color: #fff;
  border-radius: 20px;
  width: calc(100% / 4);
  align-items: center;
  &.gradient {
    background: linear-gradient(135deg, #868cff 0%, #4318ff 100%);
  }

  .chips-widget-text {
    color: #a3aed0;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.28px;
    &.activity {
      color: #e9edf7;
    }
  }
  .chips-widget-value {
    color: #1b2559;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.48px;
    &.activity {
      color: #fff;
    }
  }
  .icon-container {
    min-width: 56px;
    height: 56px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
    &.profile {
      background: linear-gradient(135deg, #868cff 0%, #4318ff 100%);
    }
    &.chart {
      background-color: #f4f7fe;
    }
  }
}
