.container {
  display: flex;
  gap: 20px;
  @media (max-width: 1350px) {
    flex-wrap: wrap;
  }
  .chips-widgets-container {
    display: flex;
    background-color: #fff;
    border-radius: 20px;
    width: calc(100% / 4);
    padding: 19px 29px 20px 25px;
    align-items: center;
    @media (max-width: 1110px) {
      width: calc((100% / 2) - 60px);
    }
    @media (max-width: 800px) {
      width: 100%;
    }
    &.gradient {
      background: linear-gradient(135deg, #868cff 0%, #4318ff 100%);
    }

    &.small {
      padding-left: 17px;
    }

    .chips-widget-text {
      color: #a3aed0;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: -0.28px;
      &.activity {
        color: #e9edf7;
      }
    }
    .chips-widget-value {
      color: #1b2559;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 32px;
      letter-spacing: -0.48px;
      &.activity {
        color: #fff;
      }
    }
    .icon-container {
      min-width: 56px;
      height: 56px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 18px;
      &.profile {
        background: linear-gradient(135deg, #868cff 0%, #4318ff 100%);
      }
      &.chart {
        background-color: #f4f7fe;
      }
    }
  }
}
