.detailsSection-container {
  display: flex;
  gap: 20px;
  @media (max-width: 1040px) {
    flex-wrap: wrap;
  }
  .transactions-title {
    color: #1b2559;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.4px;
    margin-bottom: 19px;
  }

  .calendar-title {
    color: #1b2559;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: -0.68px;
    margin-bottom: 27px;
  }
}
