.dashboard-content-container {
  margin: 47px 30px 47px 320px;
  width: 100%;
  @media (min-width: 1650px) {
    margin-left: 370px;
    margin-right: 80px;
  }
  .top-content {
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: space-between;
    margin-bottom: 33px;

    @media (max-width: 900px) {
      align-items: start;
      flex-direction: column;
    }

    .title-typography {
      color: #2b3674;
      font-size: 34px;
      font-style: normal;
      font-weight: 700;
      line-height: 42px;
      letter-spacing: -0.68px;
    }

    .name-typography {
      color: #707eae;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: 24px;
      letter-spacing: -0.28px;
    }
    .search {
      width: 370px;
      background-color: #fff;
      border-radius: 10px;
      padding-left: 20px;
      &:hover {
        ::before {
          border-bottom: none;
        }
      }
      ::before {
        border-bottom: none;
      }
      input {
        border-color: white;
        padding: 15.5px 14px;
        color: #8f9bba;
        font-size: 12px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: -0.24px;
      }
      @media (max-width: 900px) {
        width: 100%;
        margin-top: 10px;
      }
    }
  }
}
