.micro-chart-widget-container {
  padding: 24px;
  background-color: #fff;
  border-radius: 20px;
  width: 100%;
  .micro-chart-widtget-title-container {
    display: flex;
    align-items: start;
    justify-content: space-between;
    .bar-chart-widtget-title {
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: -0.28px;
      color: #a3aed0;
    }
    .bar-chart-widtget-amount {
      color: #1b2559;
      font-size: 34px;
      font-style: normal;
      font-weight: 700;
      line-height: 42px;
      letter-spacing: -0.68px;
    }
    .bar-chart-savings-container {
      display: flex;
      align-items: center;
      color: #05cd99;
      font-size: 12px;
      font-weight: 700;
      line-height: 20px;
      letter-spacing: -0.24px;
    }
  }
  .bar-chart-widtget-track {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
}
