.profile-metrics-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  .profile-metrics-title {
    color: #a3aed0;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.24px;
  }
  .profile-metrics-number {
    color: #1b2559;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.48px;
  }
}
